.cc-support-us {
	border-radius: 3px 3px 3px 3px;
	border-style: solid;
	border-width: 1px;
	background-color: #FFFFE0;
	border-color: #E6DB55;
	margin: 15px;
	padding: 10px;
	text-align:center;
}

#zingiri-help {
	margin-top: 20px;
	text-align:center;
}

#zingiri-help li {
	margin-left: 20px;
	display: inline;
}

div.nopermission {
	width: 80%;
	text-align: center;
	padding:20px;
	background-color:red;
	color:white;
	font-size:larger;
}

.zfaces-form {
	max-width:1000px;
}

table.dayReservations {
	table-layout:fixed; 
	overflow:hidden;
	white-space: nowrap;
}

#pnl_additional {
	font-size:11px;
}

.bookingsCalendarDateSelector {
	clear: both;
}

.bookingsCalendarsBody {
	width: 100%;
	margin: 10px;
	clear: both;
	min-height: 225px;
}

.bookingsCalendar3Body .bookingsCalendarBody {
	width: 33%;
}

.bookingsCalendar2Body .bookingsCalendarBody {
	width: 50%;
}

.bookingsCalendarBody {
	float: left;
	text-align: center;
}

.bookingsCalendarBody table {
	margin: auto;
}

.selectedDay {
	font-size: 18px;
	clear: both;
	text-align: center;
	margin: 20px;
}

.viewLinks {
	width: 50%;
	float: right;
}

.resourceJumpLinks, .scheduleJumpLinks {
	float: left;
}
.resourceJumpLinks select, .scheduleJumpLinks select {
	display: inline;
}	 
.resourceJumpLinks p,.scheduleJumpLinks p {
	display: inline;
	font-weight: bold;
}

#rescalendar_year_wrapper {
	overflow: scroll;
	position: relative;
	max-height: 600px;
}

#rescalender_year_corner {
	width:200px;
	height:50px;
	z-index: 2000;
}

div.rescalender_year_wrapper_head {
	height: 50px;
	position: relative;
	z-index: 1001;
}

table.rescalendar_year_headcol {
	position: absolute;
	left: 0;
	top: 50;
	width: 200px;
	z-index: 1000;
	border-collapse:collapse;
	border:0 none;
}

table.rescalendar_year_headcol tr td div {
	height: 80px;
	overflow: hidden;
}

table.rescalendar_year_head {
	position: absolute;
	left: 200px;
	top: 0;
	border-collapse:collapse;
	border:0 none;
	background-color: #A2B5CD;
	padding: 0px;
	color: #fff;
	margin: 0px;
	text-align: center;
}

table.rescalendar_year_head tr td {
	padding: 0px;
	margin: 0px;
}

table.rescalendar_year tr.datarow td {
	height: 80px;
}

table.rescalendar_year {
	margin-left: 200px;
	border-collapse:collapse;
	border:0 none;
}

table.rescalendar_year tr td.headcol {
	position: absolute;
	left:0;
	top: auto;
	width: 200px;
}

table.rescalendar_year tr td {
	border:0px;
	padding:0px;
}

table.rescalendar_year tr td.scheduleDateHeader {
	font-size: 10px;
}

table.rescalendar_year tr td.scheduleSep {
	border-right: 1px solid #fff;
}

table.rescalendar_year tr td.scheduleFirstDayOfWeek {
	color: red;
}

table.rescalendar_year tr td {
	font-size: 10px;
}

table.rescalendar_year tr td.other_res:hover, table.rescalendar_year tr td.available:hover, table.rescalendar_year tr td.blackout:hover {
	background-color: gold; /*#F8FAEA;*/
}

div.pnl_basic_data {
	border: 1px solid;
	margin-bottom: 5px;
}

div.pnl_basic_data table td h5 {
	margin: 0px;
}