/* schedule2 (date picker) template */
.r0 td,.ro0 td {
	background-color: #FFFFFF;
}

.r1 td,.ro1 td {
	background-color: #F8FAEA;
}

.r0 td.o:hover {
	background-color: #FFFFFF;
}

.r1 td.o:hover {
	background-color: #F8FAEA;
}

.r0:hover td.resourceName,.r1:hover td.resourceName {
	background-color: #f7f18b;
}

.r0 td.resourceName:hover,.r1 td.resourceName:hover {
	background-color: #EDEDED;
}

/* types of reservations */
.my_res {
	background-color: #0073EA;
	hover: #799DD3;
	color: #fff;
}

.other_res, td.other_res	{
	background-color: #D2DDEC;
	hover: #AFBED3;
	color: #000000;
}

.available, td.available	{
	background-color: #FFFFFF;
	color: #000000;
}

td.available:hover
{
    cursor:pointer;
    background-color: #99353A;
}

.blackout, td.blackout	{
	background-color: #6F292D;
	hover: #99353A;
	color: #FFFFFF;
}

.other_past_res, td.other_past_res	{
	background-color: #A0A1A1;
	hover: #6F7070;
	color: #FFFFFF;
}

/* -- */
.currentTimeBoxStyle, .currentDayBoxStyle {
	background-color: #DDCAF6;
}

td.scheduleTimes,.scheduleTimes td {
	color: #444444;
	background-color: #dddddd;
}

table.availability td {
   border-color: #fff;
}

table.availability td a:hover, table.availability td a:active {
   color: #000;
   background-color: #E4DC04;
}	

.viewdays a {
	border-color: #000000;
}

/*
* Date and time selectors on book2 page
*/
div.availability {
	border-top-color: #000000;
}

.zfaces-form, .bookings-reservationsummary, .bookingsCalendarBody, .bookings-step2 {
	/*background-color:#F8F8F8;*/
}

/* Booking form */
#compact1Template div#left table .selectedDayBoxStyle, .selectedDayBoxStyle {
	border-color: #DDCAF6 !important;
}

/* Date cell for the availability */
td.scheduleDate, .scheduleDate td, .scheduleDateHeader, td.scheduleDateCurrent {
    color: #FFFFFF;
    background-color: #A2B5CD;
}

td.scheduleDateCurrent {
	background-color: #5E7FB1;
}

.scheduleDateHeader {
	border-bottom-color: #36648B;
}

td.scheduleDate, td.scheduleDateHeader a {
	color: #FFFFFF;
}

/** MyCalendar **/
.MyCalCellColor {
    /*background-color: #FFFFFF;*/
}

.MyCalCellColorEmpty {
	background-color: #F0F0F0;
}

.MyCalDayBox {
	background-color: #FFFFFF;
}

.MyCalEmptyDayBox {
	background-color: #EEEEEE;
}

.MyCalCurrentDayBox {
	background-color: #FFFFFF;
	border-color: #36648B;
}

.my_past_res, td.my_past_res	{
	background-color: #E4DC04;
	hover: #F7F386;
	color: #000000;
}

.pending, td.pending	{
	background-color: #CFCFCF;
	hover: #ABABAB;
	color: #000000;
}

div.color_key {
	border-color: #000000;
}
