#bookings {
	position:relative;
	float:left;
	width:100%;
}

.currentDayBoxStyle {
	font-size: smaller;
	background-color: #DDCAF6;
	text-align: center;
}

.currentTimeBoxStyle {
	background-color: #DDCAF6;
}

.dayBoxStyle {
	font-size: smaller;
	text-align: center;
}

.dayNamesStyle {
	font-size: smaller;
}

tr.dayNamesStyle td {
	text-align: center;
}
