.bookings #bookings-section-cart {
	float: left;
}

.bookings #bookings-cart {
	display: none;
	float: left;
	width: calc(100% - 60px);
}

.bookings #bookings-cart .bookings-cart-line {
	width: 100%;
	float: left;
	position: relative;
}

.bookings #bookings-cart .bookings-cart-line .bookings-delete {
	float: left;
	width: 16px;
	margin-right: 4px;
}

.bookings #bookings-cart .bookings-cart-line .bookings-delete img {
	cursor: pointer;
	vertical-align: bottom;
}

.bookings #bookings-cart .bookings-cart-line .bookings-product-name {
	width: 34%;
	margin-right: 1%;
	float: left;
	padding: 0;
}

.bookings #bookings-cart .bookings-cart-line .bookings-resource-name {
	width: 34%;
	margin-right: 1%;
	float: left;
	padding: 0px;
}

.bookings #bookings-cart .bookings-cart-line .bookings-quantity {
	width: 7%;
	margin-right: 1%;
	float: left;
	padding: 0px;
	text-align: right;
}

.bookings #bookings-cart .bookings-cart-line .bookings-price {
	width: 22%;
	float: right;
	padding: 0px;
	text-align: right;
}

.bookings #bookings-cart .bookings-cart-line .bookings-time-slots {
	width: 100%;
	float: left;
	padding: 0 0 0 20px;
}

.bookings #bookings-cart .bookings-cart-line .bookings-time-slot {
	width: 23%;
	margin: 0 1% 1% 0;
	font-size: smaller;
	padding: 0.5%;
	float: left;
}

.bookings #bookings-cart-icon {
	display: none;
	float: left;
	width: 60px;
}

.bookings #bookings-cart-icon img {
	cursor: pointer;
}

.bookings #bookings-cart-buttons {
	display: none;
	width: 90%;
	float: right;
	margin: 0 0 10px 0;
}

.bookings input#bookings-cart-continue-button {
	float: left;
}

.bookings input#bookings-cart-checkout-button {
	float: right;
	display: none;
}

.bookings #bookings-cart-total {
	float: right;
	border-top: 1px solid #ddd;
	font-weight: bold;
	margin-bottom: 20px;
}

.bookings #bookings-cart-confirmation {
	wdith: 100%;
}

.bookings #bookings-cart-confirmation table {
	border: 1px solid #ddd;
	width: 100%;
}

.bookings #bookings-cart-line .bookings-product-name {
	text-align: left;
}

.bookings #bookings-cart-line .bookings-resource-name {
	text-align: left;
}

.bookings #bookings-cart-confirmation table td {
	padding: 2px;
	border: 0 none;
}

.bookings #bookings-cart-confirmation table td.bookings-time-slot {
	font-size: smaller;
}

.bookings #bookings-cart-confirmation tr.bookings-cart-total td.bookings-price {
	border-top: 1px solid #ddd;
	font-weight: bold;
}
