/* COLORS */
.bookings .bookx .bookingsSelectedRow {
	background-color: rgb(208,212,228);
}

/* OTHER */
.bookings div.bookings-section {
	width: 100%;
}

.bookings #bookings-errors {
	color: red;
}

.bookings #bookings-errors {
	display: none;
	margin: 0 0 20px 0;
	font-weight: bold;
	padding: 10px;
	border: 1px solid red;
	border-radius: 2px;
}

.bookings #bookings-notices {
	display: none;
	margin: 0 0 20px 0;
	font-weight: bold;
	padding: 10px;
	border: 1px solid green;
	border-radius: 2px;
}

.bookings #bookings-section2,
.bookings #bookings-section-pay {
	margin: 10px 0 0 0;
}

 