.bookings .bookingsCalendarDateSelector {
	width: 224px;
	float:left;
	position:relative;
}

.bookings .bookingsCalendarBody table {
	border-spacing: 2px;
    border-collapse: separate;
}

.bookings .bookingsCalendarBody table td {
	height: 20px;
	border-radius: 2px;
	vertical-align: middle;
	font-size: smaller;
	text-align: center;
	width: 28px;
}

.bookings .bookingsCalendarBody table tr.dayNamesStyle td {
	font-weight: bold;
}

/*
.bookings .bookingsCalendarBody table td.monthNameStyle {
	border: 1px solid #000;
	padding: 0 10px;
	font-weight: bold;
}
*/

.bookings .bookingsCalendarBody table td.dayBoxStyle, 
.bookings .bookingsCalendarBody table td.selectedDayBoxStyle,
.bookings .bookingsCalendarBody table td.currentDayBoxStyle {
	border: 1px solid #000;
}

.bookings .bookingsCalendarBody table td.selectedDayBoxStyle {
	background-color: rgb(208,212,228);
}

.bookings form#changeMonth table {
	border: 1px solid #000;
	border-radius: 2px;
}

.bookings form#changeMonth table tr td.navMonthLeft {
	padding: 10px 0 10px 5px;
	width: 20%;
}

.bookings form#changeMonth table tr td.navMonthRight {
	padding: 10px 5px 10px 0;
	width: 20%;
}

.bookings form#changeMonth table tr td.navMonthCenter {
	text-align: center;
	width: 60%;
}

.bookings form#changeMonth table tr td.navMonthCenter select {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
}

.bookings form#changeMonth table tr td.navMonthStyle {
	border: 0 none;
	font-size: smaller;
}
