.bookings .bookingsCalendarDateSelector {
	float:left;
	width:35%;
	font-size:smaller;
}

.bookings h3.selectedDay {
	display:none;
}

.bookings form.bookings-step2 {
	float:right;
	position: relative;
	/*width:60%;*/
	font-size:smaller;
}

.bookings tr.dayNamesStyle {
	font-weight:bold;
	color:red;
}

.bookings div.bookingsCalendarBody table, 
.bookings div.bookingsCalendarBody table tr td {
	border: 0px !important;
}

.bookings table.availability td.MyCalCellColorEmpty, 
.bookings table.availability td.resourceName {
	padding: 0px;
}

.bookings table.availability td.MyCalCellColorEmpty p {
	margin: 0px;
}

.bookings a.bookingsMoveForward,
.bookings a.bookingsMoveBack {
	text-decoration:none;
}

.bookings #compact1Template div#left table .selectedDayBoxStyle {
	font-size: smaller;
	border: solid 4px #DDCAF6 !important;
	text-align: center;
}
