.bookings .bookingsCalendarBody table, 
.bookings .bookingsCalendarBody table tr, 
.bookings .bookingsCalendarBody table td {
	border: 0px !important;
}

.bookings .monthNameStyle {
	font-size: 11px;
	text-align: center;
}
.bookings .dayBoxStyle {
	font-size: 10px;
	background-color: #F0F0F0;
	text-align: center;
	width: 25px;
	height: 25px;
}
.bookings .currentDayBoxStyle {
	width: 25px;
	height: 25px;
	font-size: 10px;
	background-color: #FFFFFF;
	text-align: center;
}
.bookings .emptyDayStyle {
	background-color: #D5D8D3;
}
.bookings .bookedDayBoxStyle {
	background-color: #D5D8D3;
}
.bookings .dayNamesStyle {
	font-size: 11px;
	text-align: center;
	height: 25px;
	background-color: #DDCAF6;
}
.bookings .navMonthStyle {
	font-size: 11px;
	color: #000000;
}
.bookings .selectBoxStyle {
	background-color: AliceBlue;
	color: white;
}

.bookings .bookingsCalendarsBody {
	width:100%;
}

.bookings .bookingsCalendarBody table td {
	vertical-align: baseline;
}

.bookings .bookingsCalendarBody {
	float:left;
	width:31.3%;
	padding:1%;
}

.bookings table.availability td {
	padding: 0px;
}

.bookings table.availability td.resourceName {
	text-align:right;
	padding: 0px 10px 0px 0px;
}

.bookings div.MyCalCellColorEmpty, 
.bookings div.MyCalCellColor {
	padding: 0px 3px 3px 3px;
}

.bookings table.availability td.scheduleDateHeader {
	padding: 0px 5px;
}

.bookings .bookings-step2 table.availability {
	font-size: smaller;
	table-layout:fixed;
	width: inherit;
	margin: auto;
}

.bookings #book2-next {
	float: right;
}

.bookings #bookingsCalendarNext {
	min-height: 30px;
}