.bookings .cc-support-us {
	border-radius: 3px 3px 3px 3px;
	border-style: solid;
	border-width: 1px;
	background-color: #FFFFE0;
	border-color: #E6DB55;
	margin: 15px;
	padding: 10px;
	text-align:center;
}

.bookings div.nopermission {
	width: 80%;
	text-align: center;
	padding:20px;
	background-color:red;
	color:white;
	font-size:larger;
}

.bookings table.dayReservations {
	table-layout:fixed; 
	overflow:hidden;
	white-space: nowrap;
}

.bookings #pnl_additional {
	font-size:11px;
}

.bookings .bookingsCalendarDateSelector {
	clear: both;
	width: 100%;
}

.bookings .bookingsCalendarsBody {
	width: 100%;
	margin: 10px;
	clear: both;
	min-height: 225px;
}

.bookings .bookingsCalendar3Body .bookingsCalendarBody {
	width: 33%;
}

.bookings .bookingsCalendar2Body .bookingsCalendarBody {
	width: 50%;
}

.bookings .bookingsCalendarBody {
	float: left;
	text-align: center;
}

.bookings .bookingsCalendarBody table {
	margin: auto;
}

.bookings .selectedDay {
	font-size: 18px;
	clear: both;
	text-align: center;
	margin: 20px;
}

.bookings .selectedDay a:link {
	text-decoration: none;
}

.bookings .viewLinks {
	width: 50%;
	float: right;
}

.bookings .resourceJumpLinks, 
.bookings .scheduleJumpLinks {
	float: left;
}
.bookings .resourceJumpLinks select, 
.bookings .scheduleJumpLinks select {
	display: inline;
}	 
.bookings .resourceJumpLinks p,
.bookings .scheduleJumpLinks p {
	display: inline;
	font-weight: bold;
}

.bookings #rescalendar_year_wrapper {
	overflow: scroll;
	position: relative;
	max-height: 600px;
}

.bookings #rescalender_year_corner {
	width:200px;
	height:50px;
	z-index: 2000;
}

.bookings div.rescalender_year_wrapper_head {
	height: 50px;
	position: relative;
	z-index: 1001;
}

.bookings table.rescalendar_year_headcol {
	position: absolute;
	left: 0;
	top: 50;
	width: 200px;
	z-index: 1000;
	border-collapse:collapse;
	border:0 none;
}

.bookings table.rescalendar_year_headcol tr td {
	padding: 0px;
	margin: 0px;
}

.bookings table.rescalendar_year_headcol tr td div {
	height: 80px;
	overflow: hidden;
}

.bookings table.rescalendar_year_head {
	position: absolute;
	left: 200px;
	top: 0;
	border-collapse:collapse;
	border:0 none;
	background-color: #A2B5CD;
	padding: 0px;
	color: #fff;
	margin: 0px;
	text-align: center;
}

.bookings table.rescalendar_year_head tr td {
	padding: 0px;
	margin: 0px;
}

.bookings table.rescalendar_year tr.datarow td {
	height: 80px;
}

.bookings table.rescalendar_year {
	margin-left: 200px;
	border-collapse:collapse;
	border:0 none;
}

.bookings table.rescalendar_year tr td.headcol {
	position: absolute;
	left:0;
	top: auto;
	width: 200px;
}

.bookings table.rescalendar_year tr td {
	border:0px;
	padding:0px;
}

.bookings table.rescalendar_year tr td.scheduleDateHeader {
	font-size: 10px;
}

.bookings table.rescalendar_year tr td.scheduleSep {
	border-right: 1px solid #fff;
}

.bookings table.rescalendar_year tr td.scheduleFirstDayOfWeek {
	color: red;
}

.bookings table.rescalendar_year tr td {
	font-size: 10px;
}

.bookings table.rescalendar_year tr td.other_res:hover, 
.bookings table.rescalendar_year tr td.available:hover, 
.bookings table.rescalendar_year tr td.blackout:hover {
	background-color: gold; /*#F8FAEA;*/
}

.bookings div.pnl_basic_data {
	border: 1px solid;
	margin-bottom: 5px;
}

.bookings div.pnl_basic_data table td h5 {
	margin: 0px;
}

.bookings div.wrap div.bookings {
	background-color: #fff;
	padding: 1%;
	position:relative;
	float:left;
	width:98%
}

.bookings .pnl_basic_data .bookingsButtonPushed {
	background-color: rgb(208,212,228);
}

.bookings .bookingsApprovedReservation {
	background-color: rgb(208,212,228);
}

.bookings .ui-widget-overlay.ui-front {
	z-index: 10000;
}

.bookings .ui-dialog { 
	z-index: 10001 !important;
}

#zingiri-help {
	margin-top: 20px;
	text-align:center;
	width: 100%;
}

#zingiri-help li {
	display: inline;
	float: left;
	width: 20%;
	text-align: center;
}

.bookings .bookings-reservation-col2 {
	vertical-align: top; 
	padding-left: 15px;
}

.bookings .scheduleTimes td {
	text-align: center;
}
