div.faces ul,div#zfaces ul,ul#zfaces,ul.zfaces {
	list-style-type: none;
	margin-left: 0px;
  	padding-left: 0px
}

.zfprompt {
	display: block;
	position: relative;
	float:left;
	width: 80px;	
}

.zfpromptwide {
	display: block;
	position: relative;
	float:left;
	width: 25%;	
}

#zfattributes {
	/*width:40%;*/
	background-color: lightgrey;
}

.zfcontrol {
	width: 100%;
}

.zfcontrolform {
	background-color: grey;
	color: white;
	position:relative;
	float: left;
	width: 98%;
	padding: 1% 1%;
}
	
.zfcontrolfield {
	font-size: 12px;
	position:relative;
	float:right;
	width:29%;
	z-index:999;
	background-color: #ededed;
	margin-top:2px;
}

.zfcontrolmain {
	position:relative;
	float:left;
	width:69%;
}

#zfcontrolfieldedit {
	background-color: #ddd;
}

.zffieldhighlight {
	background-color: #ddd; /*coral*/
	padding: 5px;
	margin: 3px auto;
}

.zffieldnormal {
	background-color: #EDEDED; /*bisque*/
	padding: 5px;
	margin: 3px auto;
}

.zfdeletefield {
	position: absolute;
	top: 0;
	right: 0;
}


ul.zfattributeslist, ul.zfacesbuilder {
	list-style-type: none;
	margin-left: 0px;
  	padding-left: 0px
}

ul.zfacesbuilder li {
	border: 2px solid #EDEDED;
}

ul.zfacesbuilder li:hover {
	border: 2px dotted white;
}

#zfrules {
	position: relative;
	float: left;
	padding-top: 5px;
	margin-top: 5px;
	border-top: 1px solid black;
	width: 100%;
}

#zfrules .zfelabel {
	/*width:100%;*/
	display: none;
}

#zfrules .zfelement {
	padding-top: 0px;
	width:100%;
}

#zfrules .zfsubelements {
	clear:both;
	width: 100%;
}

.zfsummary tr td {
	padding-left:5px;
	padding-right:5px;
}

.aphps-summary{
	float:left;
	padding:1%;
	width:48%;
}

#zfhelpwrapper {
	position:relative;
	width:100%;
	background-color:red;
}

#zfhelpimage {
	vertical-align:top;
	float:left;
	width:20%;
}

#zfhelp {
	font-style: italic;
	float:right;
	width:80%;
}

ul.zfattributeslist li {
	clear:both;
}

input#zftypeedit {
	border:0px none;
	background-color:inherit;
}

input#zfedit2 {
	margin:0px;
}

#zfcontrolfieldadd {
	width:100%;
}
.aphpsfieldtype {
	float: left;
	width:40%;
	margin: 3px 3px;
}

div#formsettings ul li {
	clear:left;
}

/*** Parameters ****/
ul.zfattributeslist div.controllerlabel {
	font-weight: bold;
	background-color: #FF0084;
	width: 30%;
	-moz-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px;
	padding:10px;
}

ul.zfattributeslist div.controllercontent {
	background-color: #FF0084;
	padding: 10px;
	-moz-border-radius: 0px 10px 10px 10px;
	border-radius: 0px 10px 10px 10px;
	font-size: smaller;
}

.controllerdel,.controlleradd {
	display:inline;
}

.aphps-field-group {
	clear:both;
	font-weight: bold;
}

.shared {
	padding-left:30px;
}

.rules-action {
	padding-bottom: 5px;
}

.rules-match {
	
}

.rules-add {
	margin-top: 40px;
	position: relative;
	float: left;
	width: 100%;
}