.bookings {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #333333;
	font-size: 11px;
}
.bookings a {
    color: #104E8B;
    text-decoration: none;
}
.bookings a:hover {
    color: #474747;
    text-decoration: underline;
}
/*
Common text settings
*/
.bookings p {
    font-size: 11px;
    margin-bottom: 2px;
    margin-top: 2px;
    margin-right: 2px;
    margin-left: 2px;
}
.bookings h5 {
    margin-bottom: 0px;
	margin-top: 0px;
    font-size: 12px;
}
.bookings h4 {
	font-size: 13px;
}
.bookings h3 {
	font-size: 18px;
	margin-top: 0px;
}
/*
Error box settings
*/
.bookings table.alert {
    color: #CC0000;
	background-color: red;
    text-align: center;
	width: 60%;
	border: solid #8B0000 2px;
	padding: 5px;
	margin-bottom: 5px;
	color: white;
	font-size: 11px;
}
/*
Form text box settings
*/
.bookings .textbox {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;  
    color: #36648B;
    background-color: #FCFCFC;
}
/*
Form button settings
*/
.bookings .button {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
	border: solid 1px #7C7A7A;
	color: #36648B;
	background-color: #E7E7E7;
}

/*
Data table head row settings
*/
.bookings .tableTitle {
    font-size: 11px;
    font-weight: bold;
    color: #FFFFFF;
    padding-left: 10px; padding-top: 1px; padding-bottom: 1px; padding-right: 5px;
	background-color: #36648B;
	height: 20px;
	vertical-align: middle;
}

.bookings .tableTitle a, .bookings .tableTitle a:hover {
	color: #FFFFFF;
	text-decoration: none;
}
/*
Welcome message settings
*/
.bookings .welcomeBack {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    color: #708090;
	font-size: 12px;
}
/*
Table border color
*/
.bookings .tableBorder {
    background-color: #36648B;
}

.bookings .cpanelCell td {
    padding: 2px;
    font-size: 11px;
}

/*
Common data cell settings
*/
.bookings td.cellColor, 
.bookings .cellColor td, 
.bookings .cellColor {
    padding: 2px;
    background-color: #FFFFFF;
    font-size: 11px;
}
/*
Alternating row colors
*/
.bookings td.cellColor0, 
.bookings .cellColor0 td, 
.bookings .cellColor0, 
.bookings .warningCell0 
{
    padding: 2px;
    background-color: #FFFFFF;
    font-size: 11px;
}
.bookings td.cellColor1, 
.bookings .cellColor1 td, 
.bookings .cellColor1 
{
    padding: 2px;
	background-color: #F8FAEA;
    font-size: 11px;
}

/*****************************************/


.bookings .r0 td, 
.bookings .ro0 td
{
    padding: 2px;
    background-color: #FFFFFF;
    font-size: 11px;
}

.bookings .r1 td, 
.bookings .ro1 td
{
    padding: 2px;
    background-color: #F8FAEA;
    font-size: 11px;
}

.bookings .r0 td:hover, 
.bookings .r1 td:hover
{
    cursor:pointer;
    background-color: green;
}
.bookings .r0 td.o:hover
{
	cursor: default;
	background-color: #FFFFFF;
}

.bookings .r1 td.o:hover
{
	cursor: default;
	background-color: #F8FAEA;
}

.bookings .r0:hover td.resourceName, 
.bookings .r1:hover td.resourceName
{
    background-color: #f7f18b;
}

.bookings .r0 td.resourceName:hover, 
.bookings .r1 td.resourceName:hover
{
	cursor: default;
	background-color: #EDEDED;
}

/*****************************************/

.bookings .warningCell1 {
    padding: 2px;
    background-color: #D56060;
    font-size: 11px;
}
/*
Table data row heading settings
*/
.bookings td.rowHeaders, 
.bookings .rowHeaders td {
    color: #333333;
    background-color: #EDEDED;
    font-weight: bold;
    text-align: center;
    font-size: 11px;
}
/*
Individal time cells for the scheduler
*/
.bookings td.scheduleTimes, 
.bookings .scheduleTimes td {
    font-size: 11px;
    color: #333333;
    text-align: left;
    background-color: #EDEDED;
    padding-left: 2px;
}
/*
Date cell for the scheduler
*/
.bookings td.scheduleDate, 
.bookings .scheduleDate td, 
.bookings .scheduleDateHeader, 
.bookings td.scheduleDateCurrent {
    font-size: 11px;
    color: #FFFFFF;
    background-color: #A2B5CD;
    text-align: center;
    padding: 2px;
}

.bookings td.scheduleDateCurrent {
	font-weight: bold;
	background-color: #5E7FB1;
}

.bookings .scheduleDateHeader {
	border-bottom: 1px #36648B solid;
}

.bookings td.scheduleDate, 
.bookings td.scheduleDateHeader a {
	color: #FFFFFF;
}

.bookings tr.r0 td, 
.bookings tr.r1 td {
	overflow:hidden;
}
/*
Resource name cell for the scheduler
*/
.bookings td.resourceName, 
.bookings td.resourceNameOver {
    color: #333333;
    font-size: 11px;
    background-color: #EDEDED;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 5px;
}

.bookings td.resourceNameOver {
    background-color: #FAFAFA;
}
/*
Edit form cell settings
*/
.bookings td.formNames {
    font-size: 11px;
    background-color: #EDEDED;
    padding-left: 5px;
}
/*
Reserved cell settings for the scheduler
*/
.bookings td.reservedCell {
    font-size: 10px;
    background-color: #B0C4DE;
}
.bookings td.reservationOver {
	background-color: #3EBD30;
}
/*
Inactive resource text color
*/
.bookings .inact {
    color: #BDBDBD;
}
/*
Color of the outermost border on every page
*/
.bookings .mainBorder {
    border: solid 1px #CCCCCC;
}
/*
Background color of main section on every page
*/
.bookings .mainBkgrdClr {
    background-color: #FAFAFA;
}
/*
Alert message settings
*/
.bookings .message {
	background-color: #FEFEFE;
	text-align: center;
	width: 60%;
	border: solid #E0E0E0 1px;
	padding: 5px;
	margin-bottom: 5px;
	font-size: 11px;
}

/*
Summary popup box
*/
.bookings .summary_div {
	position: absolute;
	visibility: hidden;
	border: solid #686767 1px;
	padding: 5px;
	background-color: #fefefe;
	overflow: visible;
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
}

/*
Recurring reservation box
*/
.bookings .recur_box {
	background-color: #D0D4E4;
	color: #282D42;
	border: solid 1px #8B94B1;
}

/*
Calendar settings
*/
.bookings .monthNameStyle {
	font-size: 11px;
	text-align: center;
}
.bookings .dayBoxStyle {
	font-size: 10px;
	background-color: #F0F0F0;
	text-align: center;
	width: 25px;
	height: 25px;
}
.bookings .currentDayBoxStyle,
.bookings .selectedDayBoxStyle {
	width: 25px;
	height: 25px;
	font-size: 10px;
	background-color: #FFFFFF;
	text-align: center;
}
.bookings .selectedDayBoxStyle {
	background-color: #DDCAF6;
}

.bookings .emptyDayStyle {
	background-color: #D5D8D3;
}
.bookings .dayNamesStyle {
	font-size: 11px;
	text-align: center;
	height: 25px;
	background-color: #DDCAF6;
}
.bookings .navMonthStyle {
	font-size: 11px;
	color: #000000;
}
.bookings .selectBoxStyle {
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* Reservation tab select */
.bookings .tab-row td {
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding-top: 3px;
	padding-bottom: 2px;
}
.bookings .tab-row a {
	text-decoration:none;
}
.bookings .tab-selected {
	border-right:solid 1px #CCCCCC;
	border-top:solid 1px #CCCCCC;
	border-left:solid 1px #CCCCCC;
	width:100px;
	color: #0000ff;
	height:20px;
}
.bookings .tab-selected a {
	color: #000000;
}
.bookings .tab-not-selected {
	border:solid 1px #D1D1D1;
	width:100px;
	background-color: #EDEDED;
	border-bottom: solid 1px #CCCCCC;
}
.bookings .tab-not-selected a {
	color: #666666;
}
.bookings .tab-filler {
	border-bottom:solid 1px #CCCCCC;
}
.bookings .tab-main {
	border-right:solid 1px #CCCCCC;
	border-left:solid 1px #CCCCCC;
	border-bottom:solid 1px #CCCCCC;
}
/*************************************

/** MyCalendar **/
.bookings .MyCalCellColor {
    padding: 2px;
    background-color: #FFFFFF;
    font-size: 11px;
}

.bookings .MyCalCellColorEmpty {
	background-color: #F0F0F0;
}

.bookings .MyCalDayBox {
	padding: 2px;
	background-color: #FFFFFF;
	font-size: 11px;
	width: 140px;
	height: 120px;
	vertical-align: top;
}

.bookings .MyCalEmptyDayBox {
	padding: 2px;
	background-color: #EEEEEE;
	font-size: 11px;
	vertical-align: top;
}

.bookings .MyCalCurrentDayBox {
	padding: 2px;
	background-color: #FFFFFF;
	font-size: 11px;
	vertical-align: top;
	border: solid 1px #36648B;
}

.bookings .MyCalDateNumber, 
.bookings a.MyCalDateNumber {
	font-size: 12px;
}

.bookings .MyCalCellColor p, 
.bookings .MyCalDayBox p, 
.bookings .MyCalEmptyDayBox p, 
.bookings .MyCalCurrentDayBox p {
	margin-bottom: 7px;
}

.bookings div.mycal_div {
	position: absolute;
	visibility: hidden;
	border-top: solid #7C7C7C 1px;
	border-left: solid #7C7C7C 1px;
	border-right: solid #6F6F6F 2px;
	border-bottom: solid #6F6F6F 2px;
	background-color: #FEFFFE;
	padding: 3px;
	overflow: visible;
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
	color: #616161;
}

/* Admin row-selected color */
.bookings .adminRowSelected, 
.bookings .adminRowSelected td {
    padding: 2px;
    background-color: #D3DBF7;
    font-size: 11px;
}

/* Font style for errors and warnings */
.bookings .warningText {
	color: #FF0000;
	text-align: center;
}

/* Admin table to list additional tools for this section */
.bookings .additionalTools, 
.bookings .additionalTools tr {
	margin-bottom:15px;
	border: solid 1px #CCCCCC;
	width: 170px;
	background-color: #ECECEC;
}

.bookings .additionalToolsHead {
	border-bottom: solid 1px #CCCCCC;
	background-color: #E0E0E0;
}

.bookings .messagePositive {
	color: #FFFFFF;
	background-color: #329D11;
	font-size: 13px;
	font-weight: bold;
	text-align:center;

}

.bookings .messageNegative {
	color: #FFFFFF;
	background-color: #751814;
	font-size: 13px;
	font-weight: bold;
	vertical-align:middle;
	text-align:center;
}

.bookings .messageNegativeBG {
	background-color: #751814;
}

.bookings .export_menu {
	display:none;
	position:absolute;
	width:100px;
	height:45px;
}

.bookings .export_menu table {
	background-color:#999999;
}

.bookings .export_menu td.export_menu_out, 
.bookings td.export_menu_over {
	padding-left: 10px;
	padding-top: 1px;
	padding-bottom: 1px;
}
.bookings .export_menu td.export_menu_out {
	background-color: #EDEDED;
	cursor: default;
} 

.bookings .export_menu, td.export_menu_over {
	background-color: #FFFFFF;
	cursor:pointer;
}

.bookings div.textbox, 
.bookings div.blur_textbox {
	border: solid 1px #666666;
	padding: 2px;
}

.bookings div.blur_textbox {
	background-color: #EEEEEE;
}

/* spinner */
.bookings .aphpsSpinner {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -50px; /* half width of the spinner gif */
	margin-top: -50px; /* half height of the spinner gif */
	text-align:center;
	z-index:1234;
	overflow: auto;
	width: 100px; /* width of the spinner gif */
	height: 102px; /*hight of the spinner gif +2px to fix IE8 issue */
}