.bookingsCalendarBody table, .bookingsCalendarBody table tr, .bookingsCalendarBody table td {
	border: 0px !important;
	max-width: 300px;
}

table.availability td.scheduleDateHeader:first-child {
	width: 20%;
}

a.bookingsMoveForward, a.bookingsMoveBack {
	text-decoration:none;
}

.selectedDayBoxStyle {
	font-size: smaller;
	border: solid 4px #DDCAF6 !important;
	text-align: center;
}

