.bookings table.bookings-results {
	width: 100%;
}

.bookings table.bookings-results tr {
	border: 0px none;
}
		
.bookings table.bookings-results tr td {
	vertical-align: top;
	padding: 5px 10px;
	border: 0px none;
}
	
.bookings .bookings-resource-name {
	font-weight: bold;
}

.bookings .bookings-resource-price {
	font-weight: bold;
	font-size: larger;
}

.bookings table.bookings-results tr td.bookings-availability table {
	border: 1px solid;
}

.bookings table.bookings-results-availability tr td.bookings-day {
	width:3.56%;
	padding: 0px;
	text-align: center;
}

.bookings table.bookings-results-availability tr td.bookings-week {
	text-align: center;
	border-left: 1px solid;
	border-right: 1px solid;
}
		
.bookings table.bookings-results-availability tr td.bookings-first-day-of-the-week {
	color:red;
	border-left: 1px solid #000;
}

.bookings table.bookings-results-availability tr td.bookedDayBoxStyle {
	background-color: #D5D8D3;
}

.bookings table.bookings-results-availability tr td.currentDayBoxStyle {
	color: green;
	font-size: inherit;
}

.bookings table.bookings-results-availability td.selectedDayBoxStyle.bookings-day {
	font-size: inherit;
	background-color: PaleTurquoise;
} 